html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: #F6F8FC;
}

#title-wrapper {
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  top: 50%;
  transform: translateY(50%);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#json-area,
#csv-area {
  width: 600px;
  min-height: 458px;
  padding: 10px;
  resize: none;
  background: #f0f0f0;
  border: #000 1px solid;
}

#csv-title,
#json-title {
  text-align: center;
}

#controls-wrapper {
  width: 200px;
  height: 549px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 150px;
  height: 35px;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  border: none;
}

#csv-area.error {
  color: #900;
  background: #fee ;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -100;
  -ms-filter: "alpha(opacity=0)";
}

@media only screen and (max-width: 1480px) {
  body {
    overflow-x: hidden;
  }

  .app {
    overflow-y: visible;
  }

  .container {
    flex-direction: column;
  }

  #json-wrapper,
  #csv-wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #json-area,
  #csv-area {
    width: 90%;
    min-height: 200px;
  }

  #controls-wrapper {
    width: 90%;
    height: 140px;
    display: flex;
    flex-direction: row;
  }

  button {
    margin-top: 0px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 900px) {
  #json-area,
  #csv-area {
    width: 80%;
  }

  #controls-wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  #json-area,
  #csv-area {
    width: 70%;
  }

  #controls-wrapper {
    width: 70%;
  }
}
